/* por etiqueta o elemento de html */
p {
color: blue;
font-size: 30px;
}

/* class */

.parrafo {
    color: red;
}

/* ID */
#texto {
    color: rgb(0, 145, 255);
    font-size: 24;
}

.main-nav {
    /* margin-top: 1.0rem; */
    list-style: none;
    padding-left:0 ;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* pseudoclase */
.main-nav__item a:hover{
    color: blue;

}
.main-nav__item a:active{
    color: red
}
/* pseudoelemento */
.main-nav__item a::after{
    content: " | ";
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

section{
    width: 80%;
    min-width: 320px;
    max-width: 500rem;
    min-height: 500px;
    margin: 0 auto;
    background-color: aliceblue;
}